.post {
  width: 50%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 10px auto;
}

.postWrapper {
  padding: 15px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .post-top-con {
    display: flex;
    flex-direction: row;
  }
  .date {
    font-size: 12px;
    margin: 0 20px;
    padding-bottom: 10px;
  }
  .username {
    font-size: 12px;
    margin: 0 20px;
    padding-bottom: 10px;
  }

}
.content {
  border-bottom: 1px rgba(109, 109, 109, 0.207) solid;
  border-top: 1px rgba(109, 109, 109, 0.207) solid;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 15px;
}

.post-container{
  display: flex;
  flex-direction: column-reverse;
}

.delete-button {
  cursor: pointer;
  border: none;
  padding: 0 5px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  &:hover{
    background-color: black;
    color: white;
  }
}