.post-container{
  display: flex;
  flex-direction: column-reverse;

  .post {
    width: 100%;
    // border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    // border: 1px black solid;
    margin: 10px auto;
    @media only screen and (min-width: 400px) {
      width: 50%;
    }
    .postWrapper {
      padding: 15px;
  
      .postTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .post-top-con {
          display: flex;
          flex-direction: row;
        }
        .delete-button {
          cursor: pointer;
          border: none;
          padding: 0 5px;
          border-radius: 5px;
          transition: all .2s ease-in-out;
          &:hover{
            background-color: black;
            color: white;
          }
        }
        .date {
          font-size: 12px;
          margin: 0 20px;
          padding-bottom: 10px;
          text-transform: uppercase;
      
        }
        .username {
          font-size: 12px;
          text-transform: uppercase;
          margin: 0 20px;
          padding-bottom: 10px;
        }
      }
    }
    
    .content {
      border-bottom: 1px rgba(109, 109, 109, 0.207) solid;
      border-top: 1px rgba(109, 109, 109, 0.207) solid;
      margin: 0 auto;
      padding: 10px 15px;
      font-size: 15px;
    }
  }  
}

