.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 100%;
    height: 50px;

    position: fixed;
    
    border-top: 1px solid rgba(75, 75, 75, 0.618);
    a {
        margin: 0 20px;
    }
    //Media Queries
    //ipad and above to Desktop
    @media only screen and (min-width: 768px) {
        top: 0;
        border-top: none;
        border-bottom: 1px solid rgba(75, 75, 75, 0.618);
        justify-content: flex-end;
    }
}