@use "../../scss/colors" as *;

.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // flex:5.5
    
    .feedWrapper{
        padding: 10px;
        overflow-x: hidden;
        @media only screen and (min-width: 400px) {
            padding: 20px;
        }
    }
}
